<template>
  <Layout>
    <div class="content">
      <Installer />
    </div>
  </Layout>
</template>

<script>
import Installer from "~/components/devices/Installer.vue";

export default {
  metaInfo: {
    title: "UBports Installer",
    meta: [
      {
        name: "keywords",
        content:
          "Ubuntu Touch, UBports installer, Privacy phone, Linux smartphone, Linux on mobile"
      },
      {
        name: "description",
        content:
          "A friendly cross-platform Installer for Ubuntu Touch. Connect a supported device to your PC, follow the on-screen instructions, and watch this awesome tool do all the rest!"
      },
      {
        property: "og:url",
        content: "https://devices.ubuntu-touch.io/installer"
      },
      {
        property: "og:title",
        content: "UBports Installer • Ubuntu Touch • Linux Phone"
      },
      {
        property: "og:description",
        content:
          "A friendly cross-platform Installer for Ubuntu Touch. Connect a supported device to your PC, follow the on-screen instructions, and watch this awesome tool do all the rest!"
      }
    ]
  },
  components: {
    Installer
  }
};
</script>
